#body{
    position: absolute;
    top: calc(var(--contact-header-height) + var(--navbarheight));
    left: var(--drawerwidth);
    padding-left: 2%;
    padding-right: 2%;
    width: 80%;
}

table{
    width: 98%;
    padding: 2% 5%;

}