<mat-sidenav-container>
    <!-- <mat-sidenav opened> -->
        <img src={{logoPath}} />
        <div class="dashboard">
            <mat-icon>home</mat-icon>
            <span>Dashboard</span>
        </div>
        <ul>
            <li>
                <div class="row">
                    <mat-icon >call</mat-icon>
                    <span>Contacts</span>
                    <mat-icon class="dropdown-icon">keyboard_arrow_down</mat-icon>
                </div>
            </li>
            <li>
                <div>
                    <mat-icon >history</mat-icon>
                    <span>Contact History</span>
                    <mat-icon class="dropdown-icon">keyboard_arrow_down</mat-icon>
                </div>
            </li>
            <li>
                <div>
                    <mat-icon >groups</mat-icon>
                    <span>Members</span>
                    <mat-icon class="dropdown-icon" >keyboard_arrow_down</mat-icon>
                </div>
            </li>
        </ul>
        <hr/>
        <div class="footer">
            <mat-icon >language</mat-icon>
            <span>English</span>
            <mat-icon >keyboard_arrow_down</mat-icon>
        </div>
    <!-- </mat-sidenav> -->
    <!-- <mat-sidenav-content>
        <app-navbar></app-navbar>
        <app-contact-header></app-contact-header>
    </mat-sidenav-content> -->
</mat-sidenav-container>
