/* mat-sidenav-container{
    height: 100vh;
} */
mat-sidenav-container {
    width: var(--drawerwidth);
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--themecolor);
}

img{
    --padding: 2vw;
    --diameter: calc(var(--drawerwidth) - calc(var(--padding)*2));
    height: var(--diameter);
    width: var(--diameter);
    position: relative;
    left: var(--padding);
    top: calc(var(--navbarheight)*0.7);
}

.dashboard{
    --height: 6vh;
    --font-size: 3vh;
    position: relative;
    top: calc(var(--navbarheight)*0.7);
    width: var(--drawerwidth);
    font-size: var(--font-size);
    height: var(--height);
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    position: relative;
    /* left: 0; */
    list-style-type: none;
    top: calc(var(--navbarheight)*0.5);
    height: calc(var(--height)*3);
    /* width: var(--drawerwidth); */
    padding-left: 10px;
}

li div>*{
    margin-left: 1vw;
    height: var(--height);
}

hr{
    margin-top: 25vh;
}

.dropdown-icon{
    float: right;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}