<mat-sidenav-container>
        <img src={{logoPath}} />
        <div class="dashboard">
            <mat-icon>home</mat-icon>
            <span>Dashboard</span>
        </div>
        <ul class="menu-bar">
            <li>
                <mat-expansion-panel class="row">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon >call</mat-icon>
                        Contacts
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="menu-detail">
                        <li>
                            <mat-icon>add</mat-icon>
                            Add
                        </li>
                        <li>
                          <mat-icon>search</mat-icon>
                          Search
                      </li>
                    </ul>
                </mat-expansion-panel>
            </li>
            <li>
                <mat-expansion-panel class="row">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon >history</mat-icon>
                        Contact History
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </li>
            <li>
                <mat-expansion-panel class="row">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon >groups</mat-icon>
                        Members
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </li>
        </ul>
        <hr/>
        <div class="footer">
            <mat-icon >language</mat-icon>
            <span>English</span>
            <mat-icon >keyboard_arrow_down</mat-icon>
        </div>
</mat-sidenav-container>
