mat-sidenav-container {
    width: var(--drawerwidth);
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--themecolor);
}

img{
    --padding: 2vw;
    --diameter: calc(var(--drawerwidth) - calc(var(--padding)*2));
    height: var(--diameter);
    width: var(--diameter);
    position: relative;
    left: var(--padding);
    top: calc(var(--navbarheight)*0.7);
    margin-bottom: 10%;
}

.dashboard{
    --height: 6vh;
    --font-size: 3vh;
    position: relative;
    top: calc(var(--navbarheight)*0.7);
    width: var(--drawerwidth);
    font-size: var(--font-size);
    height: var(--height);
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar{
    position: relative;
    margin-left: 0;
    list-style-type: none;
    top: calc(var(--navbarheight)*0.5);
    height: calc(var(--height)*3);
    /* width: var(--drawerwidth); */
    padding-left: 0px;
}

.menu-detail{
    list-style-type: none;
}

li mat-expansion-panel{
    height: var(--height);
    background-color: var(--themecolor);
    width: var(--drawerwidth);
    margin-bottom: 0;
}

mat-panel-title mat-icon{
    margin-right: 1vw;
}

.menu-detail{
    --detail-font-size: 1.25vw;
    font-size: var(--detail-font-size);
    /* margin-left: 1.5vw; */
}

.menu-detail mat-icon{
    font-size: calc(0.8*var(--detail-font-size));
}

hr{
    margin-top: 15vh;
}

.dropdown-icon{
    float: right;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}